<div class="container">
  <div *ngIf="!flag" class="row" id="rowUploadFile">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Suba su formato</h5>
        <p class="card-text">Al subir su plantilla de formulario se le cargará y podrá rellenarlo.</p>
        <form>
          <div class="form-group">
            <label for="fileJsonInput">Subir formulario</label>
            <input type="file" class="form-control-file" id="fileJsonInput">
          </div>
        </form>
        <button class="btn btn-primary" (click)="fileJsonInput()">Cargar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form #formForm="ngForm" (ngSubmit)="sendForm()">

        <div *ngFor="let field of formLoaded; let i = index">
          <div class="form-group" *ngIf="field.fieldType == 'Select'">
            <label [for]="field.fieldName">{{field.fieldLabel}}</label>
            <select class="form-control" [id]="field.fieldName" [(ngModel)]="form[i].carga[field.fieldName]" [name]="form[i].carga[field.fieldName]" [required]="field.fieldRequired"
            ngControl="form[i].carga[field.fieldName]">
            <option *ngFor="let type of field.optionsDrop" [value]="type.value">{{type.label}}</option>
          </select>
          </div>

          <fieldset class="form-group" *ngIf="field.fieldType === 'Radio'">
            <div class="row">
              <legend class="col-form-label col-sm pt-0">{{field.fieldName}}</legend>
              <br />
              <div class="form-group" *ngFor="let rad of field.optionsRadio">
                <label [for]="field.fieldName">{{rad.label}}</label>
                <input type="radio" class="form-control" [id]="rad.name" [(ngModel)]="form[i].carga[field.fieldName]" [value]="rad.value"
                [name]="field.fieldName">
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group" *ngIf="field.fieldType === 'Checkbox'">
            <div class="row">
              <legend class="col-form-label col-sm pt-0">{{field.fieldName}}</legend>
              <br />
              <div class="form-group" *ngFor="let c of field.optionsCheck">
                <label [for]="field.fieldName">{{c.label}}</label>
                <input type="checkbox" class="form-control" [id]="c.val" [name]="field.fieldName">
              </div>
            </div>
          </fieldset>

          <div class="form-group" *ngIf="field.fieldType === 'File'">
            <label [for]="field.fieldName">{{field.fieldLabel}}</label>
            <input type="file" class="form-control" [id]="field.fieldName"
            [name]="form[i].carga[field.fieldName]" [required]="field.fieldRequired">
          </div>

          <div class="form-group" *ngIf="field.fieldType === 'Text'">
            <label [for]="field.fieldName">{{field.fieldLabel}}</label>
            <input [type]="'text'" class="form-control" [id]="field.fieldName" [(ngModel)]="form[i].carga[field.fieldName]" [name]="form[i].carga[field.fieldName]" [required]="field.fieldRequired">
          </div>

          <div class="form-group" *ngIf="field.fieldType === 'Email'">
            <label [for]="field.fieldName">{{field.fieldLabel}}</label>
            <input [type]="'email'" class="form-control" [id]="field.fieldName" [(ngModel)]="form[i].carga[field.fieldName]" [name]="form[i].carga[field.fieldName]" [required]="field.fieldRequired">
          </div>

          <div class="container" *ngIf="field.fieldType === 'GeoPolygon'">

            <h3>{{field.fieldLabel}} {{i}}</h3>
  
            <div class="form-group">
              <label>Ingrese dirección</label>
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Buscar lugar" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
  
            
  
            <div *ngFor="let p of pruebaItems; let j = index">
              <div *ngIf="p.title == field.fieldLabel">
                <agm-map [latitude]="field.geoJson?.latitude" [longitude]="field.geoJson?.longitude" [zoom]="field.geoJson?.zoom" (mapReady)="onMapReady($event, j)">
                  <agm-marker [latitude]="field.geoJson?.latitude" [longitude]="field.geoJson?.longitude" [markerDraggable]="true"
                    (dragEnd)="dragPin($event, j)"></agm-marker>
                </agm-map>
                <h5>Address: {{pruebaItems[j]?.address}}</h5>
                <div>Latitude: {{pruebaItems[j]?.latitude}}</div>
                <div>Longitude: {{pruebaItems[j]?.longitude}}</div>
              </div>
            </div>
          </div>

        </div>
        <button type="submit" [disabled]="!formForm.valid" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
