<div class="container">
  <div class="row" id="rowUploadFile">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Suba su formato</h5>
        <p class="card-text">Al subir su plantilla de formulario se le cargará y podrá rellenarlo.</p>
        <form>
          <div class="form-group">
            <label for="fileJsonInput">Subir formulario</label>
            <input type="file" class="form-control-file" id="fileJsonInput">
          </div>
        </form>
        <button class="btn btn-primary" (click)="fileJsonInput()">Cargar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form #formForm="ngForm" (ngSubmit)="sendForm()">
          
        <div *ngFor="let field of formLoaded; let i = index">
          <div class="form-group" *ngIf="field.fieldType == 'Text'">
            <label [for]="field.fieldName">{{field.fieldLabel}}</label>
            <input [type]="'text'" class="form-control" [id]="field.fieldName" [(ngModel)]="form[i].carga[field.fieldName]" [name]="form[i].carga[field.fieldName]" [required]="field.fieldRequired">
          </div>

          <div class="form-group" *ngIf="field.fieldType == 'Email'">
            <label [for]="field.fieldName">{{field.fieldLabel}}</label>
            <input [type]="'email'" class="form-control" [id]="field.fieldName" [(ngModel)]="form[i].carga[field.fieldName]" [name]="form[i].carga[field.fieldName]" [required]="field.fieldRequired">
          </div>
        
        </div>
        <!--<div class="container">

          <h1>Angular Google Maps with Places Search Example</h1>
        
          <div class="form-group">
            <label>Enter address</label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </div>
        
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="prueba($event)"></agm-marker>
          </agm-map>
        
          <h5>Address: {{address}}</h5>
          <div>Latitude: {{latitude}}</div>
          <div>Longitude: {{longitude}}</div>
        </div>-->
        <div class="container" *ngFor="let item of pruebaItems; let i =  index">

          <h1>Angular Google Maps with Places Search Example {{i}}</h1>
        
          <div class="form-group">
            <label>Enter address</label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </div>
        
          <agm-map [latitude]="item.latitude" [longitude]="item.longitude" [zoom]="item.zoom" (mapReady)="onMapReady($event)">
            <agm-marker [latitude]="item.latitude" [longitude]="item.longitude" [markerDraggable]="true"
              (dragEnd)="dragPin($event, i)"></agm-marker>
          </agm-map>
        
          <h5>Address: {{item.address}}</h5>
          <div>Latitude: {{item.latitude}}</div>
          <div>Longitude: {{item.longitude}}</div>
        </div>
        <!--<div class="form-group">
          <label for="fieldType">Tipo de campo</label>
          <select class="form-control" id="fieldType" [(ngModel)]="formCreator.fieldType" name="fieldType" required ngControl="fieldType">
            <option *ngFor="let type of typeArray" [value]="type">{{type}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fieldPlaceholder">Placeholder</label>
          <input type="text" class="form-control" id="fieldPlaceholder" [(ngModel)]="formCreator.fieldPlaceholder" name="fieldPlaceholder" required ngControl="fieldPlaceholder">
        </div>
        <div class="form-group">
          <label for="fieldDefaultValue">Valor por defecto</label>
          <input type="text" class="form-control" id="fieldDefaultValue" [(ngModel)]="formCreator.fieldDefaultValue" name="fieldDefaultValue" required ngControl="fieldDefaultValue">
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm pt-0">¿Requerido?</legend>
            <br/>
            <div class="col-sm">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="requiredTrue" value="true" [(ngModel)]="formCreator.fieldRequired" name="fieldRequired" required ngControl="fieldRequired">
                <label class="form-check-label" for="requiredTrue">
                  Sí
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="requiredFalse" value="false" [(ngModel)]="formCreator.fieldRequired" name="fieldRequired" required ngControl="fieldRequired">
                <label class="form-check-label" for="requiredFalse">
                  No
                </label>
              </div>
            </div>
          </div>
        </fieldset>-->
        <button type="submit" [disabled]="!formForm.valid" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
