<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="assets/img/logo-map.png" width="30" height="30" alt="">
    Sistema de servicios de GeoJSON para la captura de datos
  </a>
  <!--<button type="button" class="btn btn-info" 
        (click)="openModal(template)">Create template modal</button>-->
  <div [hidden]="!user" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div [hidden]="!user" class="navbar-nav">
      <a class="nav-link active" [routerLink]="['/home']">| Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-link" [routerLink]="['/form-creator']" tabindex="-1">| Crear plantilla</a>
    </div>
  </div>
  <button [hidden]="!user" type="button" class="btn btn-danger" 
        (click)="logout()">Cerrar sesión</button>
</nav>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>
<router-outlet></router-outlet>
