<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    Bootstrap
  </a>
  <button type="button" class="btn btn-info" 
        (click)="openModal(template)">Create template modal</button>
  <button [hidden]="!user" type="button" class="btn btn-danger" 
        (click)="logout()">Cerrar sesión</button>
</nav>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>
<router-outlet></router-outlet>
